<h1>Check out my app!</h1>
<p>Sara, you are a genious! I know I haven't done much yet, but<br>
I'm really picking this up pretty quickly. If you're reading this,<br>
then I just set up a private server to show you what I've accom-<br>
plished. It may just look like some words on the screen, but to<br>
make this I:
<li>Learned how to use the terminal</li>
<li>Installed everything from the command line</li>
<li>Createed an application</li>
<li>Set up an online repository to keep the backups</li>
<li>Createed the page files</li>
<li>Remembered my high school HTML to write you this letter</li>
<li>and finally saved everything and uploaded the backups</li>
</p>
<p> This took a lot of work. Hope it makes you proud,<br>
Eric ;)</p>
